name: pre-merge checks
on: 
  pull_request:
    branches: [main]
  push:
    branches: [main]
  
jobs:  
  pip_audit_dependency_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pypa/gh-action-pip-audit@v1.1.0
        with:
          vulnerability-service: osv
          inputs: ./requirements.txt
  
  bandit_vuln_check:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - uses: actions/checkout@v6
      - name: Bandit Analysis
        uses: PyCQA/bandit-action@v1
        with:
          severity: high
          confidence: high
          
  trufflehog_credential_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Trufflehog Secret Scanning
        id: trufflehog_secret
        continue-on-error: true
        env:
          SCAN_PATH: "."
        run: |
          curl -sSfL https://raw.githubusercontent.com/trufflesecurity/trufflehog/main/scripts/install.sh | sh -s -- -b /usr/local/bin
          trufflehog filesystem . > ./results.txt
          cat ./results.txt

  discord_notify:
    needs: ["pip_audit_dependency_check", "bandit_vuln_check", "trufflehog_credential_check"]
    name: Notify Discord on fail
    runs-on: ubuntu-latest
    environment: Main
    if: failure()
    steps:
      - name: Notify Discord
        env:
          discord_webhook: ${{ secrets.DISCORD_WEBHOOK }}
        run: |
          echo $discord_webhook
          curl -H "Content-Type: application/json" -d '{"username": "GitHub Workflow Runner", "content": "Workflow Run Failed - ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"}' "$discord_webhook" 
